body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.settings-container {
  max-width: 600px;
  margin: auto;
}

.settings-container button {
  margin-bottom: 10px;
}

.modal-header {
  background-color: #333;
  color: white;
}
.modal-body{
  background-color: #333;
}
.modal-footer {
  background-color: #222;
}
